* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #EAFFD0;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 40px;
}


.wrap {
    width: 100%;
    margin: auto;


}



.wrap .header {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FCE38A;
    /* Cambia esto al color que prefieras para la barra */
    padding: 20px;
    /* Ajusta esto para cambiar el tamaño de la barra */

}

.wrap .header h1 .header-link:link,
.header-link:visited,
.header-link:hover,
.header-link:active {

    color: #F38181;
    font-weight: 450;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 0px;
    text-decoration: none;
    /* Esto quitará el subrayado */

}

.wrap .login_register a {

    width: 18%;
    display: flex;
    width: 80%;
    padding: 15px 10px;
    margin-bottom: 20px;
    background: #95E1D3;
    box-shadow: 0px 0px 6px 0px #F38181;
    text-align: center;
    text-decoration: none;
    color: black;

}

.wrap>h1:after {

    content: '';
    width: 100%;
    height: 1px;
    background: black;
    margin: 20px 0px;


}

.store-wrapper {
    display: flex;


}



.login_register {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.category_list {
    display: flex;
    flex-direction: column;
    width: 18%;
}

.category_list .category_item {

    display: block;
    width: 80%;
    padding: 15px 0;
    margin-bottom: 20px;
    background: #FCE38A;
    box-shadow: 0px 0px 6px 0px #95E1D3;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-left: 8%;
    margin-top: 5%;

}

.products-list {

    width: 82%;
    display: flex;
    flex-wrap: wrap;
}

.products-list .product-item {

    width: 22%;
    background: gray;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px 0px blue;
    margin-right: 3%;
    margin-top: 1%;

    display: flex;
    flex-direction: column;


}

.products-list .product-item img {

    width: 100%;
}

.products-list .product-item a {

    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: gray;


    color: white;
    text-align: center;
    text-decoration: none;

}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
}

.column {
    flex: 50%;
}

.column label,
.column input {
    margin-bottom: 10px;
}

.submit-button {
    margin-top: 20px;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: auto;
}

.wrap .login_register span {
    flex-grow: 1;
    white-space: nowrap;

}

.wrap .login_register .logout,
.wrap .login_register .registre, .wrap .login_register .login,
.wrap .login_register .mi_cuenta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap .login_register .cesta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-summary {
    background-color: #FCE38A;
    padding: 10px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-summary h2 {
    margin-top: 0;
    font-size: 1.5em; 
}

.cart-item p {
    border-right: 1px solid #000; 
    padding-right: 10px; 
    margin-right: 10px; 
}


.cart-summary img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.cart-item {
    display: flex;
    flex-direction: column;  
    align-items: flex-start;  
    margin-bottom: 10px;
    border-bottom: 1px solid #000; 
    padding-bottom: 10px; 
}

.finalizar-compra, .borrar-todo {
    display: block;
    margin-bottom: 10px; 
    width: 200px; 
    margin-right: auto; 
    margin-left: 0; 
}

.finalizar-compra {
    background-color: green; 
}

.borrar-todo {
    background-color: red; 
}

.product-image {
    width: 200px;
    height: 200px;
}
.cart-summary {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FCE38A;
    margin: 0; /* Añade esta línea */
    padding: 0; /* Añade esta línea */
}

