html{
    background-color: rgb(207, 244, 231);
}
#contenidor{
    background-color: lightblue;
    padding: 5px;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-areas:
     'menuGran titol titol titol'
     'menuGran menuPetit menuPetit menuPetit'
     'principal principal principal lateral'
     'peu peu peu peu';
    }
    #contenidorHeader div{
    background-color: gray;
    padding: 5px;
    margin: 2px;
    text-align: center;
    }